.header {
    display: grid;
    width: 1100px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 89px 47px 93px 51px;
}

.header__menu {
    display: flex;
    justify-items: center;
}

.header__links-list {
    display: flex;
    gap: 34px;
}

.header__links-list-item {
    list-style: circle;
    border-bottom: 1px solid #000;
    letter-spacing: 1px;
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: none;
}

.header__link {
    text-decoration: none;
}

.link-active {
    text-decoration: none;
}

.header__logo {
    text-decoration: none;
}

.header__logo-image {
    width: 147px;
    height: 107px;
}

address {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    max-width:389px;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-right: 39px;
}

.header__address_list {
    list-style: none;
}

.header__address_links {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.cover {
    width: 100%;
    position: relative;
    min-height: 754px;
    font-size: 22px;
    color: #fff;
    font-family: Raleway, sans-serif;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position-x: center;
}

.overlay {
    position: absolute;
    background-color: #000;
    inset: 0;
    opacity: 0.6;
    z-index: 1;
}

.cover__title {
    position: relative;
    width: 1000px;
    font-size: 100px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


.aligned-text {
    letter-spacing: 29.3px;
    line-height: 115%;
    text-transform: uppercase;
    text-align: left;
    margin-top: 165px;
    margin-left: 52px;
}

.aligned-text_center {
    letter-spacing: 30.3px;
    line-height: 115%;
    text-transform: uppercase;
    margin-top: 21px;
    text-align: center;
    margin-left: 131px;
}

.aligned-text_right {
    letter-spacing: 30.3px;
    line-height: 115%;
    text-transform: uppercase;
    text-align: right;
    margin-top: 19px;
    margin-right: -82px;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 109px;
    margin-top: 105px;
    align-items: center;
    margin-left: 52px;
}

.cover__description-text {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    width: max-content;
}

.bet-button {
    color: #FFF;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px 11px 31px;
}

.lots {
    width: 1100px;
    margin-top: 183px;
}

.lots__heading {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 130px;
    margin-left: 65px;
}

.lots__card-list {
    display: flex;
    width: 1100px;
    list-style: none;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 27px;
    padding-left: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    display: flex;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    padding: 48px 40px 48px 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position-x: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: uppercase;
    z-index: 2;
}

.card__text {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    z-index: 2;
}

.lots__look-more-link {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px solid #000;
    display: flex;
    max-width: max-content;
    margin-top: 30px;
    margin-left: 65px;
}

.about {
    width: 1100px;
    display: grid;
    margin-top: 116px;
}

.about__column {
    display: grid;
    grid-template-columns: 385px 715px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 50%;
    margin: 73px;
    margin-top: 36px;
}

.about__logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 148px;
    max-height: 114px;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 23px;
}

.about__title {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 137px;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 79px;
}

.about__text {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 687px;
}

.footer {
    margin-top: 181px;
    width: 1100px;
    padding: 1px 48px 82px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
}

.footer__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.footer__address_list {
    list-style: none;
}

.footer__address_links {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu {
    margin-left: 93px;
}

.footer__menu-list {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.footer__menu-list-item {
    color: #000;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 47px;
    margin-left: 93px;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}